/*LAYOUT STYLE*/
body {
  font-family: 'Arvo', serif;
  font-weight: 400;
  margin: 50px;
  color: #494953;
  background-color: #c8c8c8;
  position: relative;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #494953;
}

a:hover{
  color: #604FDD;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #604FDD;
  margin-bottom: 20px;
}

/*BODY ELEMENTS STYLE*/
/*background image & animation*/
.front {
  width: 50%;
  animation: pulse 3s infinite ease-in-out;
  opacity: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -100;
}

.back {
  width: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -200;
}

@keyframes pulse {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}


/*text*/
.aboutme {
  width: 480px;
  margin-bottom: 50px;
}

.aboutme p{
  font-size: 15px;
}


/*LINKS PROJECTS AND SOCIALS*/
.externallinks {
  list-style: none;
  -webkit-padding-top: 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.externallinks li {
  font-weight: 400;
}

.externallinks a:hover{
  transition: 0.2s;
}

/* SCREENS*/
@media only screen and (min-width: 320px){
  h1 {
    font-size: 18px;
  }

  .aboutme p{
    font-size: 12px;
  }
}

@media only screen and (min-width: 480px){
  h1 {
    font-size: 22px;
  }

  .aboutme p{
    font-size: 16px;
  }

}
@media only screen and (min-width: 768px){
  h1 {
    font-size: 30px;
  }

  .aboutme p{
    font-size: 18px;
  }
}
