/*LAYOUT STYLE*/
body {
  font-family: 'Arvo', serif;
  font-weight: 400;
  margin: 0 50px;
  color: #494953;
  background-color: #c8c8c8;
  position: relative;
/*
  background-image: url(asset/bgfront.jpg);
  background-repeat: no-repeat;

  background-size: fixed;
  background-position: right top;
*/
}

a {
  text-decoration: none;
  color: #494953;
}

a:hover{
  color: #604FDD;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #604FDD;
}

.profile {
  display: none;
}

/*BODY ELEMENTS STYLE*/

.front {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2000ms;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -100;
}

.back {

  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -200;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100 {
    opacity: 0;
  }
}



.title {
  margin-top: 50px;
  margin-bottom: 150px;
}

.title h1{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.portrait {
  display: none;
}

.aboutme {
  width: 500px;
  margin-bottom: 50px;
}

.aboutme p{
  font-size: 15px;
  line-height: 22px;
}


/*LINKS PROJECTS AND SOCIALS*/
.externallinks {
  height: 100%;
  list-style: none;
  -webkit-padding-top: 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.externallinks li {
  list-style: none;
  font-weight: 400;
}

.externallinks a:hover{
  transition: 0.2s;
}

/* BREAKPOINTS*/
@media screen and (max-width: 1400px) { /* Specific to this particular image */
  body {
    background-image: none;
  }


@media screen and (min-width: 320px) { /* Specific to this particular image */
/*LAYOUT STYLE*/
body {
  margin: 30px;
  background-image: none;
}

.frame {
  display: none;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 60px;

}

/*BODY ELEMENTS STYLE*/
.title {
  margin-top: 0px;
  margin-bottom: 50px;
}

.title h1{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.aboutme {
  margin-bottom: 50px;
  width: 100%;
}

.aboutme h1 {
  display: none;
}

.aboutme p{
  font-size: 40px;
  line-height: 60px;
  text-align: justify;
}

.externallinks {
  font-size: 60px;
  line-height: 96px;
}

@media screen and (min-width: 1024px) { /* Specific to this particular image */
  /*LAYOUT STYLE*/
  body {
    background-image: none;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;

  }

  /*BODY ELEMENTS STYLE*/
  .title {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .title h1{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  .aboutme p{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }

  .externallinks {
    font-size: 30px;
    line-height: 45px;
  }

  .externallinks a {
    display: -webkit-flex; /* Safari */
   -webkit-justify-content: space-around; /* Safari 6.1+ */
   display: flex;
   justify-content: space-around;
   float:left;
   padding-right: 30px;
  }

    @media screen and (min-width: 1366px) { /* Specific to this particular image */
      /*LAYOUT STYLE*/
      body {
        background-image: url(asset/bgfront.jpg);
        background-repeat: no-repeat;

        background-size: fixed;
        background-position: 550px 100px;

      }

      h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;

      }

      /*BODY ELEMENTS STYLE*/
      .title {
        margin-top: 0px;
        margin-bottom: 50px;
      }

      .title h1{
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
      }

      .aboutme {
        margin-bottom: 50px;
        width: 50%;
      }

      .aboutme p{
        font-size: 17px;
        line-height: 24px;
        text-align: left;
      }

      .externallinks {
        font-size: 30px;
        line-height: 45px;
      }

      .externallinks a {
        float: none;
        display: block;

      }
