/*LAYOUT STYLE*/
body {
  font-family: 'Arvo', serif;
  font-weight: 400;
  width: 960px;
  margin: 0 50px;
  background-image: url(asset/background.jpg);
  background-position: right bottom; /*Positioning*/
  background-color: #c8c8c8;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #494953;
  background-position: 50% 50%;
}

/*
::selection {
  background: #FF5656;
} */


a {
  text-decoration: none;
  color: #494953;
}

a:hover{
  color: #FF5656;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #6A7EFC;
}

/*BODY ELEMENTS STYLE*/
.title {
  margin-top: 50px;
  margin-bottom: 150px;
  display: inline-block;;
}

.title h1{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.aboutme {
  width: 400px;
  margin-bottom: 50px;
}

.aboutme p{
  font-size: 13px;
}

.externallinks {
  list-style: none;
  -webkit-padding-top: 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}



.externallinks li {
  max-width: 960px;
  list-style: none;
  font-weight: 400;
}

.externallinks a:hover{
  transition: 0.2s;
}


/*test

@media only screen and (min-width: 640px) {

  body {
  padding: 20px;
  width: 800px;
  line-height: 3.5em;
  }


  h1, li {
    font-size: 45px;
  }

  .externallinks li {
    list-style: none;
    font-weight: 400;
    padding: 0.5em 0;

  }

  .separator {
    content: "";
    border-bottom: 6px solid #6A7EFC;
    width: 180px;
    margin: 80px 0;
  }

  .aboutme p{
    font-size: 38px;
  }

  input {
    margin-top: 50px;
    height: 140px;
    width: 100%;
    border: 5px solid #FF5656;
    color: #FF5656;
    background-color: #EDF2F6;
    border-radius: 100px;
    font-size: 40px;
    padding: 0;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;

    outline: 0;
  }

  .hint {
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    text-align: center;
  }
}
*/
