/*LAYOUT STYLE*/
body {
  font-family: 'Arvo', serif;
  font-weight: 400;
  max-width: 960px;
  margin: 0 50px;
  color: #494953;
  background-color: #c8c8c8;
  background-image: url(asset/background.jpg);
  background-repeat: no-repeat;

  background-size: fixed;
  background-position: right top;
}

a {
  text-decoration: none;
  color: #494953;
}

a:hover{
  color: #FF5656;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #6A7EFC;
}

/*BODY ELEMENTS STYLE*/
.title {
  margin-top: 50px;
  margin-bottom: 150px;
  display: inline-block;;
}

.title h1{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.aboutme {
  width: 400px;
  margin-bottom: 50px;
}

.aboutme p{
  font-size: 13px;
}


/*LINKS PROJECTS AND SOCIALS*/
.externallinks {
  height: 100%;
  list-style: none;
  -webkit-padding-top: 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.externallinks li {
  max-width: 960px;
  list-style: none;
  font-weight: 400;
}

.externallinks a:hover{
  transition: 0.2s;
}

/* BREAKPOINTS*/
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
