body {
  font-family: 'Arvo', serif;
    font-weight: 400;
  max-width: 423px;
  margin: 5% auto;
  background: #EDF2F6;
  color: #494953;
}

::selection {
  background: #FF5656;
}

a {
  text-decoration: none;
  color: #494953;
}

a:hover{
  color: #FF5656;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.title {
  margin-bottom: 10px;
}

.title h1{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.externallinks {
  list-style: none;
  -webkit-padding-top: 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.externallinks li {
  list-style: none;
  font-weight: 400;
}

.externallinks a:hover{
  transition: 0.2s;
}

.separator {
  content: "";
  border-bottom: 3px solid #6A7EFC;
  width: 60px;
  margin: 20px 0;

}

.aboutme p{
  font-size: 16px;
}

input {
  margin-top: 50px;
  height: 40px;
  width: 100%;
  border: 2px solid #FF5656;
  color: #FF5656;
  background-color: #EDF2F6;
  border-radius: 100px;
  font-size: 16px;
  padding: 0;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

  outline: 0; /* hide standard blue highlight */
}

input:hover{
  background-color: #FF5656;
  color: #EDF2F6;
  transition: 0.2s;
}

.hint {
  font-weight: 400;
  font-style: italic;
  font-size: 9px;
}
