/*LAYOUT STYLE*/
html,
body {
  background-color: #EFFE00;
  margin: 0 16px;
}

body {
  margin: 8px;
}

div, .content {
  font-family: 'IBM Plex Mono', monospace;
  color: #0A0A0A;
}

div  {
  margin-bottom: 80px;
}

.menu a {
  text-decoration: none;
  color: #0A0A0A;
  margin-bottom: 8px;
}

.newpage {
  
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
/* identical to box height */
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 8px;

/* Inside Auto Layout */
  flex: none;
  order: 0;
}

p {
  font-weight: Regular;
  font-size: 16px;
  line-height: 152%;
/* or 26px */
  letter-spacing: 1px;

/* Inside Auto Layout */
  flex: none;
  order: 1;
}

.menu h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 88%;
  margin-block-end: -17px;
/* identical to box height */
  text-transform: uppercase;
}

/*mailto-link effect*/
.mailto-link {
	position: relative;
}
.mailto-message {
	top: 104px;
	left: 56%;
	margin-bottom: -5px;
	transform: translate(-50%, -100%);
	position: absolute;
	display: none;
	width: auto;
	white-space: nowrap;
	font-size: 16px;
	background-color:#0A0A0A;;
	color: white;
  padding: 16px;
	border-radius: 8px;
  letter-spacing: 0px;
  line-height: 16px;

	&:after {
		content: '';
	}
}


.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
	display: block;
}





/*media query settings*/
@media only screen and (min-width: 568px) {
  .content {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .menu h1 {
    font-size: 56px;
  }

  .mailto-message {
  	top: 120px;
  	left: 72%;
  	margin-bottom: -5px;
  	transform: translate(-50%, -100%);
  	position: absolute;
  	display: none;
  	width: auto;
  	white-space: nowrap;
  	font-size: 16px;
  	background-color:#0A0A0A;;
  	color: white;
    padding: 16px;
  	border-radius: 8px;
    letter-spacing: 0px;
    line-height: 16px;

  	&:after {
  		content: '';
  	}
  }


}

@media only screen and (min-width: 1024px) {


.menu h1 {
  font-size: 64px;
/*text animation*/
  letter-spacing: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer
}

h1:hover {
  letter-spacing: 4px;
  }
}

@media only screen and (min-width: 1280px) {
.content {
  width: 48%;
  margin: 0 auto;
}
}

@media only screen and (min-width: 1440px) {
.content {
  width: 32%;
  margin: 0 auto;
}
}
